eln-cache/
elpa/
elpaca/
etc/
.local/
.cache/
org-save-clock.el
straight/
var/
banners/
tmp/*
auto-save-list/
transient/
tree-sitter/
recentf
sessions
tramp
projectile-bookmarks.eld
Emacs.org~
.last-package-update-day
perspective-session
perspectives.eld
config.org~
custom.el~
custom.el
config.el
savehist
org-roam.db
.eshell_history
places
projects
history
./jupyter-resources
tabspaces-session
.Emacs.org.~undo-tree~
