eln-cache/
elpa/
elpaca/
etc/
.local/
straight/
var/
auto-save-list/
transient/
tree-sitter/
recentf
sessions
tramp
projectile-bookmarks.eld
Emacs.org~
.last-package-update-day
perspectives.eld
config.el
config.org~
places
history
tabspaces-session
.Emacs.org.~undo-tree~
